body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 180px;
    background-color: #000;
}
header .header-container {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 125px;
}
header .header-container .logo-container {
    flex: 1;
}
header .header-container .logo-container img {
    max-width: 80%;
}
header .header-container .search-header-links {
    flex: 2;
    text-align: right;
}
header .header-container .search-header-links img {
    padding-top: 5px;
}

input[type=text].search-input {
    width: 260px;
    padding: 5px 10px;
    font-size: 0.75em;
}

button.search {
    display: inline-block;
    margin-left: -32px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.header-links {
    display: flex;
    padding-top: 15px;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    font-size: 0.8em;
}
.header-links div {
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}
.header-links span+span::before {
    padding-left: 5px;
    padding-right: 5px;
    content: "|";
}
.header-links a,
.header-links a:hover,
.header-links a:visited {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

header nav {
    padding: 13px 25%;
    color: #2d5463;
    font-size: 1.5em;
    background-color: #ececec;
}
.top-nav ul.menu {
    margin: 0;
    padding: 0;
    display: flex;
    padding-inline-start: 0;
    list-style-type: none;
    list-style: none;
}
.top-nav ul.menu > li {
    flex: 1;
    padding-right: 8px;
    border-right: 2px solid #2d5463;
}
.top-nav ul.menu li:hover {
    position: relative;
}
.top-nav ul.menu li a,
.top-nav ul.menu li a:hover,
.top-nav ul.menu li a:visited {
    display: inline-block;
    color: #2d5463;
    text-decoration: none;
}

.top-nav ul.menu i {
    padding-left: 8px;
    vertical-align: bottom;
}
.top-nav ul.menu li:last-child {
    border-right: none;
}
.top-nav ul.menu li ul.sub-menu {
    position: absolute;
    margin: 0;
    padding:0;
    height: 0;
    width: 300px;
    padding-inline-start: 0;
    list-style-type: none;
    background-color: #fff;
    overflow: hidden;
    transition: height 0.3s ease-in;
}

.top-nav ul.menu li:hover ul.sub-menu {
    height: 180px;
}
.top-nav ul.menu li ul.sub-menu li {
    display: block;
    padding: 8px 15px;
    float: none;


}
.top-nav ul.menu li ul.sub-menu li:hover {
    background-color: #4698a4;
    cursor: pointer;
}

main {
    color: #fff;
}
main section.feature-product-container {
    padding-left: 25%;
    padding-right: 25%;
    min-height: 400px;
    background-image: url('../images/topsection-background.png');
    background-repeat: no-repeat;
}
main section.feature-product-container .feature-product {
    display: flex;
    padding-top: 45px;
    padding-bottom: 45px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(55, 79, 83, 0.4)
}
.feature-product-container .feature-product .item {
    flex: 1;
}
.feature-product-container .feature-product .item img {
    max-width: 100%;
}
.feature-product-container .feature-product .item {
    flex: 1;
}
.feature-product-container .feature-product .description {
    margin-left: 25px;
    margin-right: 25px;
}
.feature-product-container .feature-product .description h4 {
    margin: 0;
    padding: 5px 0;
    font-size: 2em;
    font-weight: normal;
    text-align: left;
}
.feature-product-container .feature-product .description h5 {
    margin: 5px 0;
    font-weight: normal;
    text-align: left;
}
.feature-product-container .feature-product .description ul {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 15px;
    padding-inline-start: 0;
    text-align: left;
    list-style-type: none;
}
.feature-product-container .feature-product .description ul li {
    padding-bottom: 8px;
    text-transform: uppercase;
}

.feature-product-container .feature-product .description .selection {
    margin-bottom: 35px;
}

select.product-size,
select.product-color {
    margin-right: 35px;
    padding: 8px 25px;
    color: #fff;
    border: none;
    background-color: #678792;
}

.cart-selection {
    text-align: left;
}

.quantity {
    display: inline-block;
    margin-right: 75px;
}
/* .quantity button.increment-quantity,
.quantity button.decrement-quantity {
    margin: -4px 0;
    padding: 10px;
    border: none;
    text-align: center;
    vertical-align: middle;
    background-color: #678792;
} */
/* .quantity button.decrement-quantity {

} */
.quantity button {
    margin: 0 -5px;
    padding: 8px 10px;
    color: #fff;
    border: none;
    background-color: #678792;
    cursor: pointer;
}
.quantity input {
    margin: 0;
    padding: 8px 20px;
    width: 8px;
    border: none;
}

button.add-to-cart {
    padding: 10px 25px;
    color: #fff;
    border: none;
    background-color: #4698a4;
}

main section.highlight-container {
    padding: 25px 25%;
    background-color: #898989;
}
main section.highlight-container .highlight {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
main section.highlight-container .highlight .left-content {
    flex: 3;
}
.highlight .left-content img {
    max-width: 100%;
}
main section.highlight-container .highlight .right-content {
    flex: 2;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

main section.reviews-container {
    padding: 25px 25%;
    background-color: #00314f;
}
main section.reviews-container .reviews h3 {
    display: inline-block;
    font-size: 2em;
    font-weight: normal;
}

main section.reviews-container .reviews a.review-tagline,
main section.reviews-container .reviews a.review-tagline:hover,
main section.reviews-container .reviews a.review-tagline:visited {
    padding-left: 45px;
    color: #fff;
}
main section.reviews-container .reviews .user-review {
    display: flex;
    padding-top: 20px;;
    flex-flow: row wrap;
    justify-content: space-between;
}
.user-review .image-container {
    flex: 1;
    text-align: left;
}
.user-review .comment {
    flex: 3;
    text-align: left;
}
.user-review .comment h4 {
    display: inline-block;
    margin-top: 0;
}
.user-review .comment .date,
.user-review .comment .rating {
    padding-left: 15px;
}

#review-modal {
    font-family: 'Raleway', sans-serif;
    border-radius: 0;
}
#review-modal input[type=text] {
    margin-top: 10px;
    padding: 5px;
}
#review-modal textarea {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

#review-modal button {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px 15px;
    color: #fff;
    font-size: 1.25rem;
    background-color: #4698a4;
    cursor: pointer;
}
#review-modal .review-rating {
    margin: 0;
    padding: 0 2px;
    color: #4698a4;
    cursor: pointer;
}

footer {
    padding: 15px 25%;
    color: #fff;
    font-size: 0.8em;
    background-color: #000;
}
footer .footer-logo {
    display: inline-block;
}
footer .footer-links {
    display: inline-block;
    width: 86%;

}
footer .footer-links ul {
    margin-left: 0;
    padding-left: 15px;
    padding-inline-start: 0;
    display: inline;
    list-style-type: none;
}
footer .footer-links ul li {
    display: inline-block;

}
footer .footer-links ul li+li::before {
    padding-left: 5px;
    padding-right: 8px;
    content: "|";
}
footer .footer-links .footer-social-links {
    display: inline;
}


