body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 180px;
    background-color: #000;
}
header .header-container {
    height: 125px;
}
header nav {
    height: 55px;
    color: #2d5463;
    background-color: #ececec;
}

main {
    color: #fff;
}
main section.feature-product {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 400px;
    background-image: url('../images/topsection-background.png');
    background-repeat: no-repeat;
}
main section.feature-product-container .feature-product {
    width: 650px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #364d53;
}
.feature-product-container .feature-product .item {
    flex: 1;
}
.feature-product-container .feature-product .item img {
    max-width: 100%;
}
.feature-product-container .feature-product .item {
    flex: 1;
}
.feature-product-container .feature-product .description {
    margin-left: 25px;
    margin-right: 25px;
}
.feature-product-container .feature-product .description ul {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 15px;
    padding-inline-start: 0;
    text-align: left;
    list-style-type: none;
}
.feature-product-container .feature-product .description ul li {
    padding-bottom: 8px;
    text-transform: uppercase;

}

main section:nth-child(2) {
    background-color: #ccc;
}

.feature-product-container .feature-product .description .selection {
    margin-bottom: 35px;
}

select.product-size,
select.product-color {
    margin-right: 35px;
    padding: 8px 25px;
    color: #fff;
    background-color: #678792;
}

.quantity {
    display: inline-block;
}
.quantity button {
    height: 29px;
    background-color: #678792;
}
.quantity input {
    padding: 5px 25px;
}

button {
    padding: 10px 25px;
    color: #fff;
    border: none;
    background-color: #4698a4;
}

main section.reviews {
    background-color: #00314f;
}

footer {
    color: #fff;
    background-color: #000;
}
